/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  /* primary color */
  --primary-green: #1e4d2b;
  --primary-gold: #c8c372;
  --primary-white: #fff;

  /* variant of primary color */
  --primary-green-dark: #033515;
  --primary-white-darker: #ccc;
}
/* common style */
html {
  font-family: "Roboto", sans-serif;
}
p {
  line-height: 1.5em;
}
.flex {
  display: flex;
}
.vertical-align {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
h1 {
  font-size: 1.8em;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}
/* end of common style */
/* header */
header,
footer {
  background-color: var(--primary-green-dark);
  color: var(--primary-white);
}
.brand-logo {
  height: 6em;
  padding: 1em;
}
.brand-logo img {
  margin-right: 1em;
  max-width: 100%;
  max-height: 100%;
}
nav {
  background-color: var(--primary-green);
}
nav a {
  color: var(--primary-gold);
  display: inline-block;
  font-size: 1.2em;
  padding: 1em;
  text-decoration: none;
}
.active {
  font-weight: 700;
  background-color: var(--primary-gold);
  color: var(--primary-green);
}
/* end of header */
/* main */
main {
  padding: 2em 0;
}
.about-us__text {
  width: 65%;
  margin-right: 8em;
}
.about-us__text p {
  margin-bottom: 1em;
}
.about-us__text p:nth-child(2n) {
  padding-left: 3em;
}
.about-us__text p:nth-child(2n)::before {
  content: ">";
  margin-right: 1em;
}
.about-us__logo {
  width: 20%;
}
.about-us__logo img {
  max-width: 100%;
}
.recent-event,
.resource {
  margin-bottom: 2em;
}
.main-section {
  margin-bottom: 2em;
}
.main-section h3 a {
  font-weight: 700;
  color: var(--primary-green-dark);
  text-decoration: none;
}
li.recent-event time,
li.resource time {
  width: 10%;
  padding-top: 0.2em;
}
.main-section ul li:last-child {
  text-align: right;
  padding-right: 2em;
}
li.recent-event .event__info,
li.resource .resource__info {
  width: 65%;
  padding-right: 2em;
}
.event__info p,
.resource__info p {
  margin-bottom: 0.5em;
}
li.recent-event img, 
li.resource img {
  width: 20%;
}
li.recent-event a,
li.resource a {
  text-decoration: none;
  color: var(--primary-green);
  font-weight: 600;
}
/* end of main */
/* footer */
footer {
  padding: 2em 3em;
}
.footer__logo {
  text-align: center;
  font-weight: 500;
}
footer img {
  max-width: 5em;
  margin-bottom: 1em;
}
.social p {
  text-align: center;
  margin-bottom: 1em;
}
.social__icon {
  height: auto;
  margin-right: 0.5em;
  width: 1.5em;
}
/* end of footer */
/* end of home page */
/* begin of not found page */
.not-found__page,
.not-found__page a {
  color: var(--primary-green-dark);
  text-decoration: none;
  text-align: center;
}
.not-found__404 {
  font-size: 9.75em;
}
.not-found__rotate {
  display: inline-block;
  transform: rotate(10deg);
}
.not-found__rotate1 {
  display: inline-block;
  transform: rotate(-5deg);
}
.sad-face404 {
  width: 1em;
}
.not-found__page p {
  font-size: 3em;
  margin: 1.5em 0;
}
.redirect404 {
  padding: 1em;
  margin-bottom: 3em;
  border: none;
  background-color: var(--primary-green-dark);
  border-radius: 0.4em;
}
.redirect404 span,
.redirect404 img {
  display: block;
  color: white;
}
.arrow-right {
  width: 1.5em;
  margin-left: 0.5em;
}
/* end of not found page */
/* begin of not contact page */
.contact-us,
.people,
.events,
.resources,
.home {
  color: var(--primary-green-dark);
}
.contact-us__header,
.people__header,
.events__header,
.resources__header,
.home__header {
  font-size: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.contact-us__body,
.people__body {
  margin: 2em;
}
.contact__input,
.contact__text {
  margin: 1em 0;
  margin-right: 15em;
}
label {
  margin-right: 3em;
}
.contact__text label {
  margin-right: 1.5em;
}
textarea {
  resize: none;
  width: 30em;
}
.send-message {
  border: none;
  margin-top: 3em;
  background-color: var(--primary-green);
  padding: 0.8em 3em;
  border-radius: 0.4em;
  color: white;
}
.send-message:hover {
  cursor: pointer;
}
.send-message * {
  display: block;
}
.send-message img {
  margin-left: 1em;
}
/* end of not contact page */
/* begin of detailed article */
article h1 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 1em;
}
article h2 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 1em 0;
}
article h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 1em 0;
}
article p {
  margin: 1em 0;
  padding: 0 0.5em;
}
article img {
  display: block;
  margin: 1em auto;
  max-width: 750px;
}
article li {
  margin: 1em;
}
article ul li::before {
  content: url("../img/arrow-right1.svg");
  margin-right: 1em;
}
article ul ul li::before {
  padding-left: 2em;
  content: url("../img/arrow-right2.svg");
}
/* end of detailed article */
/* begin of member page */
.member__card {
  color: var(--primary-green);
  max-width: 15em;
  margin-bottom: 1em;
}
.member__card img {
  width: 100%;
}
h2 {
  color: var(--primary-green);
  font-size: 2.5em;
  margin: 0.5em 0;
}
h3 {
  color: var(--primary-green);
  font-size: 1.3em;
  margin-bottom: 0.5em;
}
.advisor,
.current-members,
.past-members {
  margin: 1em 0;
  margin: 0.5em 0;
}
.member-name {
  font-weight: 700;
  font-size: 1.2em;
}
.current-members > div,
.past-members > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/* end of member page */
